body {
  margin: 0px;
  padding: 0px;
}
.background {
  background-color: #f5eeee;
  width: auto;
  height: 585px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forflex {
  display: flex;
}
.the41 {
  font-family: "Instrument Serif", serif;
  font-size: 110px;
  transform: rotate(270deg);
  margin-right: -140px;
  color: #333333;
}
.the4 {
  font-size: 160px;
}
.siren41 {
  font-family: "Instrument Serif", serif;
  font-size: 350px;
  margin-right: -140px;

  color: #333333;
}
.background2 {
  background-color: black;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adlib {
  font-family: "Roboto", sans-serif;
  font-family: "Tektur", cursive;
  font-size: 34px;
  color: rgb(100, 100, 100);
}
@media all and (max-width: 540px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .main {
    width: auto;
    height: fit-content;
  }
  .the4 {
    font-size: 30px;
    transform: rotate(270deg);
  }
  .background {
    background-color: #f5eeee;
    width: auto;
    max-height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .forflex {
    display: flex;
    width: 200px;
  }
  .the41 {
    font-family: "Instrument Serif", serif;
    font-size: 30px;
    color: #333333;
    visibility: hidden;
  }
  .siren41 {
    font-family: "Instrument Serif", serif;
    font-size: 80px;
    font-weight: bold;
    color: #333333;
  }

  .background2 {
    background-color: black;
    min-height: 230px;
    width:auto ;
    display: flex;
  }

  .adlib {
    font-family: "Roboto", sans-serif;
    font-family: "Tektur", cursive;
    font-size: 22px;
    margin-top: 50px;
    color: rgb(100, 100, 100);
  }
}
